# Ignore in all directories
**/.DS_Store
**/.env
**/.env.example
**/node_modules
**/prompts_master.md

# Elixir
**/_build
**/cover
**/deps
**/doc
**/.fetch
**/erl_crash.dump
**/*.ez
**/*.beam
**/config/*.secret.exs
**/.elixir_ls/

# Elm
**/elm-stuff/
**/repl-temp-*
